




# Debug files
# Executables
# Libraries
# Object files
# Precompiled Headers
# Shared objects (inc. Windows DLLs)
*.a
*.app
*.dSYM/
*.dll
*.dylib
*.elf
*.exe
*.gch
*.hex
*.i*86
*.ko
*.la
*.lib
*.lo
*.o
*.obj
*.out
*.pch
*.so
*.so.*
*.x86_64
*~
/cscope.files
/mctop
