




# Debug files
# Executables
# Libraries
# Object files
# Precompiled Headers
# Shared objects (inc. Windows DLLs)
*.a
*.app
*.dSYM/
*.dll
*.dylib
*.elf
*.exe
*.gch
*.hex
*.i*86
*.ko
*.la
*.lib
*.lo
*.o
*.obj
*.out
*.pch
*.so
*.so.*
*.x86_64
*~
/#pile#
/.#pile
/.nfs0000000006da006300000015
/.nfs0000000006da044200000005
/.nfs0000000006da046700000154
/.nfs0000000006da046d0000003f
/2621440
/allocator
/bin
/core
/cscope.files
/data/*
/mct_load
/mctop
/mctop_bw
/mctop_bw.c
/mctop_latency
/mctop_sort
/mctop_sort_no_sse
/mctop_sort_no_sse_all_sockets
/mctop_sort_no_sse_no_smt_all_sockets
/mctop_sort_sse
/mctop_sort_sse_hyperthreads_1
/mctop_sort_sse_hyperthreads_2
/mctop_sort_sse_hyperthreads_3
/mctop_sort_sse_hyperthreads_4
/merge_sort_cilkplus_parallel
/merge_sort_merge_level
/merge_sort_merge_level_up
/merge_sort_parallel_merge
/merge_sort_parallel_merge_imbalanced
/merge_sort_parallel_merge_nosse
/merge_sort_parallel_merge_notworking
/merge_sort_seq_merge
/merge_sort_std
/merge_sort_std_parallel
/merge_sort_tbb_parallel
/node_tree
/numa_alloc
/pile
/pool
/run_on_node0
/solaris
/sort
/sort1
/sort1c
/sort_algos
/sortcc
/topo_latencies
/work_queue
/work_queue_sort
/work_queue_sort1
