




# Debug files
# Executables
# Libraries
# Object files
# Precompiled Headers
# Shared objects (inc. Windows DLLs)
*.a
*.app
*.dSYM/
*.dll
*.dylib
*.elf
*.exe
*.gch
*.hex
*.i*86
*.ko
*.la
*.lib
*.lo
*.o
*.obj
*.out
*.pch
*.so
*.so.*
*.x86_64
*~
/#pile#
/.#pile
/.nfs0000000006da006300000015
/.nfs0000000006da046700000154
/2621440
/allocator
/core
/cscope.files
/mct_load
/mctop
/mctop_latency
/mctop_sort
/merge_sort_merge_level
/merge_sort_parallel_merge
/merge_sort_parallel_merge_nosse
/merge_sort_parallel_merge_notworking
/merge_sort_seq_merge
/merge_sort_std
/merge_sort_std_parallel
/node_tree
/numa_alloc
/pile
/run_on_node0
/solaris
/sort
/sort1
/sort1c
/sort_algos
/sortcc
/work_queue
/work_queue_sort
/work_queue_sort1
